<div class="statusline">
    <app-status-line></app-status-line>
</div>

<div class="widthWrapper">
    <div class="twoWrapper">
        <div class="sidebar">

        </div>
        <div class="wrapper">
            <app-server class="red square" [name]="'MyServer'" [location]="'Norway'" [clientName]="'George The Frog'"></app-server>
            <app-server class="yellow square" [name]="'HisServer'" [location]="'Lapland - Bakulto'" [clientName]="'No Client Avilable'"></app-server>
            <app-server class="green square " [name]="'ThemServer'" [location]="'The Great Great Britan'"  [clientName]="'cardoMardo'"></app-server>
            <app-server class="blue square" [name]="'NoServer'" [location]="'Israel'" [clientName]="'Client X'"></app-server>
        </div>
    </div>
</div>

